@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

body {
  font-family: "Anton", sans-serif;
  /* overflow: hidden; */
}
.landingCakeContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 20%;
}
.landingCake {
  display: inline-block;
  transform: scale(0.6);
  z-index: -0.2;
  border: 20px whitesmoke solid;
}
.topContainer {
  height: 300vh;
  background-color: #000000;
}
.cakeManTitle {
  display: flex;
  justify-content: center;
  font-family: "Anton", sans-serif;
  color: #802201;
  width: 100%;
  position: absolute;
  top: 60%;
  text-align: center;
  font-size: 800%;
  text-shadow: 2px 2px #ff0000;
}
@media screen and (max-width: 425px) {
  .cakeManTitle {
    top: 30%;
  }
}
