.aboutContainer {
  height: 130vh;
  background-color: #000000;
  padding-top: 15%;
  /* background-image: linear-gradient(180deg, #91221e 0%, #802201 70%); */
}
.aboutTitle {
  display: flex;
  justify-content: center;
  font-size: 550%;
  text-shadow: 2px 2px #ff0000;
  color: #802201;
}
.uncleJPic {
  transform: scale(0.8);
  width: 25%;
}
.trifold {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
}
.textContainer {
  color: #802201;
  /* text-shadow: 2px 2px #ff0000; */
  text-align: center;
  font-size: 150%;
  width: 60%;
}
.coordinates {
  color: whitesmoke;
  text-shadow: none;
  font-size: 250%;
}
.aboutText {
  padding-top: 5%;
  font-size: 120%;
}
@media screen and (max-width: 425px) {
  .aboutContainer {
    height: 175vh;
  }
}
