.aboutContainer {
  height: 100vh;
  /* background-color: #000000; */
  background-image: linear-gradient(180deg, #91221e 0%, #802201 70%);
}
.aboutTitle {
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px #ff0000;
}
.uncleJPic {
  transform: scale(.8);
}
.trifold {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.textContainer {
  text-align: center;
  font-size: 110%;
  max-width: 40%; 
}