* {
  margin: 0;
  padding: 0;
}
.navbarContainer {
  display: flex;
  padding: 5% 0 3% 0;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: space-evenly;
  position: fixed;
  z-index: 100000;
  overflow: hidden;
  width: 100%;
}
.navbarContext {
  justify-content: space-around;
  flex-direction: row-reverse;
  display: flex;
}
#navbar {
  overflow: hidden;
}
.listElement {
  list-style-type: none;
  margin: 0 2% 0 2%;
}
.link {
  text-decoration: none;
  /* color: #ffd700; */
  color: whitesmoke;
  display: inline-block;
}
.link:hover {
  text-decoration: underline;
  transform: scale(1.2);
  transition: ease-in-out 0.6s;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
