.productContainer {
  height: 120vh;
  background-color: #000000;
  /* background-image: linear-gradient(180deg, #802201 0%, #91221e 70%); */
  display: flex;
  justify-content: center;
  padding-bottom: 20%;
  /* text-shadow: 0 0 3px #FF0000; */
}
#productsTitle {
  font-family: "Anton", sans-serif;
  color: #802201;
  text-shadow: 2px 2px #ff0000;
  padding-bottom: 2%;
  font-size: 300%;
  text-align: center;
  letter-spacing: 0.5rem;
}
.gridContainer {
  height: 100vh;
  display: grid;
  /* grid-template-columns: 33% 33% 33%; */
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5%;
  /* padding: 5%; */
}
.grid-item {
  position: relative;
  right: 20%;
}
.scale6cupcakes {
  display: inline-block;
  transform: scale(1.06);
  position: relative;
  top: 2%;
}
.manyCupcakesScale {
  height: 89%;
  /* display: inline-block;
  transform: scaleY(1.01) */
}
@media screen and (max-width: 768px) {
  .productContainer {
    height: 175vh;
  }
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-item {
    right: 0;
  }
}
@media screen and (max-width: 425px) {
  .productContainer {
    height: 350vh;
  }
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
